<div class="potions">
    <div class="container">
        <h1 class="title-potions">Potions</h1>

        <div class="row">

        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-content">
        <a class="close">X</a>
        <div class="row">
            <div class="col-6">
                <img class="img-responsive">
            </div>
            <div class="col-6">
                <h3 class="title-modal product-name"></h3>

                <h3 class="title-modal">Use/Effect:</h3>
                <p class="text-modal product-effect"></p>

                <h3 class="title-modal">Ingredients:</h3>
                <ul class="text-modal ingredients"></ul>

                <h3 class="title-modal">Price:</h3>
                <p class="text-modal price"></p>

                <a href="#" class="btn-cart">Add to cart</a>
            </div>
        </div>
    </div>
</div>
