@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i'); // Font Merriweather
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i'); // Font Lato

// PADRÃO DE ELEMENTOS DO PROJETO
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0
}

a { text-decoration: none }

textarea {
    resize: none;
}
