@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700'); // Font Oswald
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i'); // Font Lato

// PADRÃO DE ELEMENTOS DO PROJETO
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
}

ul { list-style: none }

a { text-decoration: none }

textarea {
    resize: none;
}
