<div class="header-nav">
    <div class="container">
        <div class="col-2 hidden">
            <div class="menu-mobile">
                <span class="burger"></span>
                <span class="burger"></span>
                <span class="burger"></span>
            </div>
        </div>
        <div class="brand col-7 col-md-3">
            <img class="img-responsive" src="./img/brand.png" alt="Brand Merlin's Potion">
        </div>
        <div class="search col-10 col-md-5">
            <div class="box-search">
                <a class="btn-search" href="#">
                    <img src="./img/search.png" alt="icon search">
                </a>
                <input class="input-search" type="text" placeholder="Search our stock">
            </div>
        </div>
        <div class="information col-auto">
            <h3 class="title-information">Free shipping</h3>
            <p class="info-information">on order over $50</p>
        </div>
        <div class="shop col-3 col-md-2">
            <img class="img-shop" src="./img/potion.png" alt="icon potion shop">
            <p class="bag">Bag:
                <span class="qtd-bag">0</span>
            </p>
        </div>
    </div>
</div>

<nav class="navbar">
    <div class="container">
        <ul class="list-menu">
            <li class="dropdown">
                <a class="dropdown-toggle item-list" id="potions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Potions</a>
                <div class="dropdown-menu" aria-labelledby="potions">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle item-list" id="ingredients" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ingredients</a>
                <div class="dropdown-menu" aria-labelledby="ingredients">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle item-list" id="books" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
                <div class="dropdown-menu" aria-labelledby="books">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle item-list" id="supplies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supplies</a>
                <div class="dropdown-menu" aria-labelledby="supplies">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle item-list" id="charms" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Charms</a>
                <div class="dropdown-menu" aria-labelledby="charms">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </li>
            <li>
                <a class="clearance item-list" href="#">Clearance!</a>
            </li>
        </ul>

        <ul class="list-sign">
            <li>
                <a class="item-list" href="#">Sign In</a>
            </li>
            <li>or</li>
            <li>
                <a class="item-list" href="#">Sign In</a>
            </li>
        </ul>
    </div>
</nav>
