        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <nav class="nav-footer">
                            <ul class="list-footer">
                                <li class="col-4 p0">
                                    <a class="item-list-footer" href="#">Company</a>
                                </li>
                                <li class="col-4 p0">
                                    <a class="item-list-footer" href="#">Contact Us</a>
                                </li>
                                <li class="col-4 p0">
                                    <a class="item-list-footer" href="#">Shipping</a>
                                </li>
                                <li class="col-4 p0">
                                    <a class="item-list-footer" href="#">Returns</a>
                                </li>
                                <li class="col-4 p0">
                                    <a class="item-list-footer" href="#">Careers</a>
                                </li>
                            </ul>
                        </nav>

                        <ul class="social-media">
                            <li>
                                <a class="item-social" href="#"><img class="img-social facebook" src="../../img/midias.png" alt="facebook"></a>
                            </li>
                            <li>
                                <a class="item-social" href="#"><img class="img-social twitter" src="../../img/midias.png" alt="twitter"></a>
                            </li>
                            <li>
                                <a class="item-social" href="#"><img class="img-social pinterest" src="../../img/midias.png" alt="pinterest"></a>
                            </li>
                            <li>
                                <a class="item-social" href="#"><img class="img-social tumber" src="../../img/midias.png" alt="tumber"></a>
                            </li>
                            <li>
                                <a class="item-social" href="#"><img class="img-social gplus" src="../../img/midias.png" alt="Google Plus"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="box-newsletter">
                            <h3 class="title-newsletter">Sign up for our Newsletter</h3>
                            <p class="description-newsletter">Sign up for our newsletter & get exclusive discounts</p>

                            <div class="row">
                                <input class="email-newsletter" type="email" placeholder="Enter your email">
                                <button class="btn-newsletter" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p class="copyright">© 2015 Merlin's Potions. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Chamadas dos arquivos JS -->
        <script type="text/javascript" src="./js/bundle.min.js"></script>
        <script type="text/javascript" src="./js/plugins/potions.json"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    </body>
</html>
